html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #999999;
}

header,
article,
.player {
  border: solid;
}

article {
  font-family: monospace, monospace;
}

header {
  height: 5%;
  font-family: Helvetica, sans-serif;
}

ul {
  margin: 0;
  display: flex;
  padding-left: 0;
  justify-content: space-around;
}

li {
  list-style-type: none;
}

a {
  color: #000000;
  text-decoration: none;
}

article {
  height: 95%;
}

.players {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 4px solid #FF0000;
}

.player {
  width: 100%;
  height: 40vh;
  display: flex;
  max-width: 400px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 4px solid #0000FF;
}

.crowns {
  width: 150px;
  height: 150px;
}

.label {
  margin: 0;
  font-size: 3.7rem;
}

.timeout {
  margin: 0;
}

.digits {
  font-size: 4rem;
}

.banner,
.crowns {
  display: none;
}

.time-ctrl {

}

.signature {
  right: 0;
  bottom: 0;
  margin: 0;
  position: fixed;
  margin-right: 10px;
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 850px) {
  .players {
    flex-direction: row;
  }
}
