html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: #999999;
  background-repeat: repeat;
  background-position: center center;
  background-image: url('../images/chessboardbg.jpg');
}

header {
  height: 5%;
  width: 100%;
  min-height: 50px;
  font-family: Helvetica, Arial, sans-serif;
  background-color: hsla(000, 000%, 000%, 0.5);
}

article {
  width: 100%;
  height: 95%;
}

nav {
  height: 100%;
  margin: 0 auto;
  max-width: 800px;
  min-height: 50px;
}

.menu {
  margin: 0;
  height: 100%;
  display: flex;
  padding-left: 0;
  align-items: center;
  justify-content: space-around;
}

.menu li {
  list-style-type: none;
}

.menu li a {
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
}

.modal {
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(#111111, transparent);
}

.content {
  height: 45%;
  padding: 20px;
  display: flex;
  min-width: 300px;
  min-height: 500px;
  align-items: center;
  flex-direction: column;
  background-color: #EEEEEE;
  border: 4px solid #222222;
  justify-content: space-around;
  font-family: monospace, monospace;
}

.content h1 {
  margin: 0;
  font-size: 4rem;
}

.close {
  margin: 0;
  font-size: 3rem;
  line-height: .5;
  align-self: flex-end;
}

.box {
  display: flex;
  justify-content: center;
}

.controls {
  width: 225px;
  display: flex;
  justify-content: space-between;
}

.plus,
.minus {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.label {
  font-size: 2rem;
}

.btn {
  width: 160px;
  font-size: 1.1rem;
  padding: 10px 15px;
  border: 4px solid #000000;
}

.btn:hover {
  color: #111000;
  background-color: #999999;
}

.players {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.player {
  width: 100%;
  height: 40vh;
  display: flex;
  max-width: 400px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-bottom: 8px solid #0080FF;
  font-family: monospace, monospace;
}

.one {
  color: #000000;
  background-color: #FFFFFF;
}

.two {
  color: #FFFFFF;
  background-color: #000000;
}

.crowns {
  width: 150px;
  height: 150px;
  display: none;
}

.label {
  margin: 0;
  font-size: 4rem;
}

.numbers {
  margin: 0;
}

.digits {
  font-size: 4rem;
}

.time-controls {
  display: flex;
  margin: 0 auto;
  max-width: 400px;
  min-width: 320px;
  justify-content: space-between;

}

.signature {
  right: 0;
  bottom: 0;
  margin: 0;
  position: fixed;
  font-size: .75rem;
  margin-right: 10px;
}

@media only screen and (min-width: 425px) {
  .digits {
    font-size: 4.5rem;
  }
}

@media only screen and (min-width: 850px) {
  .players {
    flex-direction: row;
  }

  .player {
    margin-top: 2%;
    min-height: 450px;
  }

  .crowns {
    display: block;
  }

  .time-controls {
    margin-top: 10px;
    max-width: 800px;
  }
}
