html,
body {
  width: 100%;
  height: 100%;
}

/* Set a few defaults for all browsers. */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a {
  background-color: transparent;
}

button {
  margin: 0;
  font-size: 100%;
  overflow: visible;
  text-transform: none;
  font-family: inherit;
  -webkit-appearance: button;
}
/* END defaults */

body {
  background-color: #999999; /* Fallback color */
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  font-family: Helvetica, Arial, sans-serif;
  background-image: url('../images/chessboardbg.jpg');
}

header {
  height: 5%;
  width: 100%;
  min-height: 50px;
  /* hue (0-360), saturation (0-100%), lightness (0-100%), alpha (0-1) */
  background-color: hsla(000, 000%, 000%, 0.5);
}

article {
  width: 100%;
  height: 95%;
}

nav {
  height: 100%;
  margin: 0 auto;
  max-width: 800px;
  min-height: 50px;
}

.menu {
  margin: 0;
  height: 100%;
  display: flex;
  padding-left: 0;
  align-items: center;
  justify-content: space-around;
}

.menu li {
  list-style-type: none;
}

.menu li a {
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
}

/* index page */
.modal {
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(#111111, transparent);
}

.content {
  height: 45%;
  padding: 20px;
  display: flex;
  min-width: 300px;
  min-height: 500px;
  align-items: center;
  flex-direction: column;
  background-color: #EEEEEE;
  border: 4px solid #222222;
  justify-content: space-around;
  font-family: monospace, monospace;
}

.content h1 {
  margin: 0;
  font-size: 4rem;
}

.close {
  margin: 0;
  font-size: 3rem;
  line-height: .5;
  align-self: flex-end;
}

.box {
  display: flex;
  justify-content: center;
}

.controls {
  width: 225px;
  display: flex;
  justify-content: space-between;
}

.plus,
.minus {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.label {
  font-size: 2rem;
}

.bg-blue {
  color: #FFFFFF;
  background-color: #0080FF;
}

.btn {
  width: 160px;
  font-size: 1.1rem;
  padding: 10px 15px;
  border: 4px solid #000000;
}

.btn:hover {
  color: #CECECE;
  background-color: #7F7F7F;
}

.players {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.player {
  width: 100%;
  height: 40vh;
  display: flex;
  max-width: 400px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-bottom: 8px solid #0080FF;
  font-family: monospace, monospace;
}

.one {
  color: #000000;
  background-color: #FFFFFF;
}

.two {
  color: #FFFFFF;
  background-color: #222222;
}

.crowns {
  width: 150px;
  height: 150px;
  display: none;
}

.label {
  margin: 0;
  font-size: 4rem;
}

.numbers {
  margin: 0;
}

.digits {
  font-size: 4rem;
}

.time-controls {
  display: flex;
  margin: 0 auto;
  max-width: 400px;
  min-width: 320px;
  justify-content: space-between;

}

/* Media queries for index page */
@media only screen and (min-width: 425px) {
  .digits {
    font-size: 4.5rem;
  }
}

@media only screen and (min-width: 850px) {
  .players {
    flex-direction: row;
  }

  .player {
    margin-top: 2%;
    min-height: 450px;
  }

  .crowns {
    display: block;
  }

  .time-controls {
    margin-top: 10px;
    max-width: 800px;
  }
}
/* END index page */

/* Quotes page */
.quotes {
  width: 100%;
  margin: 0 auto;
  max-width: 1100px;
  justify-content: center;
}

.row {
  display: flex;
}

.quote-text {
  font-weight: bold;
  font-size: 1rem;
  text-indent: -0.5em;
}

.quote-card {
  width: 100%;
  height: 200px;
  padding: 4%;
  position: relative;
  display: flex;
  box-sizing: border-box;
  font-weight: bold;
  background-color: #D9D9D9;
  border-bottom: 8px solid #0080FF;
}

.names {
  right: 0;
  bottom: 0;
  margin: 0;
  position: absolute;
  align-self: flex-end;
  padding: 15px;
  background-color: #0080FF;
  color: #FFFFFF;
}

.names > p {
  margin: 0;
}

/* Media queries for quotes page */
@media only screen and (min-width: 600px) {
  .quotes {
    margin: 2% auto 2% auto;
  }

  .quote-card {
    width: 50%;
  }

  .left {
    justify-content: flex-end;
  }

  .right {
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 1100px) {
  .quote-text {
    font-size: 1.2rem;
  }
}

/* END Quotes */

/* Links page */
.links {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
}

.links-column ul {
  padding-left: 0;
  list-style-type: none;
}

.links-column li a {
  color: #0080FF;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
}

.links-column li a:hover {
  color: #44A4F2;
}

.links-column {
  width: 100%;
  display: flex;
  max-width: 400px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
  /*! height: 100%; */
}

.images-column {
  width: 100%;
  height: 100%;
  display: flex;
  height: 1100px;
  max-width: 400px;
  align-items: center;
  flex-direction: column;
  background-color: #D9D9D9;
  justify-content: space-around;
}

.images-column img {
  width: 100%;
  height: auto;
  max-width: 300px;
}

.images-container {
  height: 100%;
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-around;
}

.links-container {
  display: flex;
  flex-direction: column;
  width: 250px;
  min-height: 1100px;
  justify-content: center;
  font-size: 1.1rem;
}

.hidden {
  display: none;
}

/* Media queries for links page */
@media only screen and (min-width: 700px) {
  .links {
    flex-direction: row;
  }

  .hidden {
    display: block;
  }

  .links-column,
  .images-column {
    margin-top: 2%;
    margin-bottom: 2%;
  }
}
/* END links page */

/* About page */
.about-information {
  margin: 0 auto;
  max-width: 940px;
  text-align: center;
  background-color: #D9D9D9;
  padding-bottom: 30px;
}

.about-information img {
  width: 100%;
  height: auto;
  max-width: 900px;
}

.email {
  font-size: 1.2rem;
}

my-email::after {
  content: attr(data-domain);
}

my-email::before {
  content: attr(data-user) "\0040";
}

.icons {
  font-size: 4rem;
}

.icons a {
  color: #000000;
}

.donate-btn {
  padding: 0;
  margin-top: 40px;
  margin-bottom: 30px;
}

.donate {
  padding: 15px 30px;
  font-weight: bold;
  border-radius: 10px;
  background-color: #0080FF;
  border: 4px solid #333333;
}

.donate a {
  color: #FFFFFF;
  text-decoration: none;
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* Media queries for about page */
@media only screen and (min-width: 600px) {
  .about-information {
    margin-top: 2%;
  }

  .email {
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 800px) {
  .about-information {
    padding: 20px 10px 30px 10px;
  }

  .email {
    font-size: 2.2rem;
  }

  .icons {
    font-size: 5rem;
  }
}
/* END about page */

/* 404 error page */
.error {
  height: 90%;
  max-height: 750px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.error-img-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-img {
  width: 95%;
  height: auto;
  max-width: 500px;
}

.error-text,
.error-sub-text {
  margin: 0;
  color: #222222;
  font-size: 2.5rem;
  text-align: center;
}

.error-text {
  font-size: 4rem;
}

@media only screen and (min-width: 500px) {
  .error-text { font-size: 5rem; }

  .error-sub-text { font-size: 4rem; }
}
@media only screen and (min-width: 650px) {
  .error-text { font-size: 7rem; }

  .error-sub-text { font-size: 5rem; }

  .error { max-height: 850px; }
}
/* END 404 error page */
