
html,
body {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    background-color: #999999;
    font-family: Helvetica, sans-serif;
    background-image: url('../images/chessboardbg1.png');
    background-position: center center;
    background-repeat: no-repeat;
}

/* menu bar page navigation */
nav {
    padding: 15px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: hsla(000, 000%, 000%, 0.5);
}

nav ul {
    width: 50%;
    margin: auto;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    width: 20%;
    text-align: center;
}

nav li a {
    color: #FFFFFF;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}
/* END menu bar page navigation */


.container {
    margin-top: 60px;
}

.content {
    width: 50%;
    margin: auto;
    padding: 2%;
}

.banner {
    padding: 10px;
    color: #000000;
    font-size: 400%;
    text-align: center;
    text-shadow:
        0 2px 0 #ffffff,
        2px 0 0 #ffffff,
        0 -2px 0 #ffffff,
        -2px 0 0 #ffffff,
        -2px -2px 0 #ffffff,
        2px -2px 0 #ffffff,
        -2px 2px 0 #ffffff,
        2px 2px 0 #ffffff;
    font-family: 'Lato', sans-serif;
}


/* chess clock for players */
.players {
    display: flex;
    justify-content: center;
}

.p1 {
    padding: 1% 4%;
    font-size: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-bottom: 10px solid #0080FF;
}

.crowns {
    -moz-user-select: none;
    user-select: none;
}

.p1 img,
.p2 img {
    margin: 0px auto;
}

.p1 h1 {
    color: #000000;
}

.p2 {
    padding: 1% 4%;
    font-size: 2em;
    text-align: center;
    background-color: #2E2E2E;
    display: flex;
    flex-direction: column;
    border-bottom: 10px solid #0080FF;
}

.p2 h1 {
    color: #FFFFFF;
}

.digits {
    font-size: 200%;
}

.tm-ctl {
    display: flex;
    justify-content: center;
}

div h1 {
    margin: 0;
}

.game-controls {
    text-align: center;
    padding: 20px;
}

#plus1 {
    left: 0px;
    width: 64px;
    height: 64px;
    background: url('../images/plus1.png') 0 0;
}

#plus1:hover {
    background: url('../images/plus1.png') -64px -64px;
}

#minus1 {
    left: 0px;
    width: 64px;
    height: 64px;
    background: url('../images/minus1.png') 0 0;
}

#minus1:hover {
    background: url('../images/minus1.png') -64px -64px;
}

.btn {
    width: 100px;
    padding: 15px;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 25px;
    border-radius: 5px;
    display: inline-block;
    border: 2px solid #000000;
    background-color: #EEEEEE;
    transition-property: background-color;
    transition-duration: 1s;
}

.btn:hover {
    color: #D8D8D8;
    background-color: #6E6E6E;
}

.tggl {
    width: 410px;
    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 5px;
}

#signature {
    margin: 0px;
    color: #000000;
    position: fixed;
    bottom: 0px;
    right: 5px;
}
/* END chess clock for players */


/* quotes page */
h1 {
    color: #2E2E2E;
}

.quotes {
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}

.q-left-col,
.q-right-col {
    width: 48%;
    margin: auto 0;
}

.quote {
    padding: 2% 2% 2% 4%;
    color: #000000;
}

.quote p {
    text-indent: -.4135em;
}

.quote-bg {
    margin-bottom: 60px;
    background-color: #D8D8D8;
    border-bottom: 10px solid #0080FF;
}
.names {
    text-align: right;
}

.names p {
    margin: 0;
    color: #FFFFFF;
    display: inline;
    font-weight: bold;
    padding: 2% 4%;
    background-color: #0080FF;
}
/* END quotes page */


/* chess links */
.link-wrapper {
    display: flex;
    color: #2E2E2E;
    background-color: #D8D8D8;
    border-bottom: 10px solid #0080FF;
}

.h1-links {
    margin-bottom: 25px;
}

.links-col {
    flex: 1;
    padding: 5% 3%;
}

.links-img-col {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.links-img-col img {
    display: block;
    padding: 3% 0;
    margin-left: auto;
    margin-right: auto;
}

.links-col ul, h2 {
    margin-left: 5%;
}

.links-col li {
    list-style-type: square;
}

.links-col a {
    color: #0080FF;
    cursor: pointer;
    text-decoration: none;
}

.links-col a:hover {
    color: #B40404;
    cursor: pointer;
    text-decoration: none;
}

.links-col a:visited {
    color: #000000;
    cursor: pointer;
    text-decoration: none;
}
/* END chess links */


/* about page */
.contact img {
  width: 100%;
  height: auto;
}

.contact {
    padding: 2%;
    text-align: center;
    background-color: #D8D8D8;
    border-bottom: 10px solid #0080FF;
}

.contact p {
    color: #2E2E2E;
}

.icons {
    width: 200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}

.icons i {
    color: #000000;
    font-size: 3rem;
}

my-email::after {
  content: attr(data-domain);
}
my-email::before {
  content: attr(data-user) "\0040";
}

#null {
    display: none;
}

.donate-btn {
    margin-top: 40px;
    margin-bottom: 30px;
}

.donate {
    padding: 1.5%;
    font-weight: bold;
    border-radius: 10px;
    background-color: #0080FF;
    border: 4px solid #333333;
}

.donate a {
    color: #FFFFFF;
    text-decoration: none;
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
/* END about page */


/* 404 error page */
.error-img {
    font-size: 100%;
    text-align: center;
    letter-spacing: 1em;
}

.error-img h1 {
    padding: 1%;
    font-size: 9em;
    font-family: Arial, sans-serif;
}

.error-img h2 {
    font-size: 3em;
    color: #2E2E2E;
}

.error-img img {
    margin: auto;
}
/* END 404 error page */


/* media queries */
@media screen and (max-width: 1050px) {
    .link-wrapper {
        display: flex;
        flex-direction: column;
    }
    .h1-links {
        margin-top: 2%;
    }
    .content {
        width: 70%;
    }
}

@media screen and (max-width: 960px) {
    .content {
        width: 75%;
    }
    .quotes {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 850px) {
    .players {
        display: flex;
        flex-direction: column;
        justify-content; space-around;
        padding: 1% 4%;
    }
    .p1, .p2 {
        margin: 0 auto;
    }
    nav ul {
        width: 75%;
        margin: auto;
    }
    nav li {
        padding: 4%;
    }

    .p1 {
        margin-top: 4%;
    }
    .banner,
    .crowns {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .p1 {
        margin-top: 4%;
    }
}

.q-left-col,
.q-right-col {
    width: 75%;
    margin: auto 0;
}

@media screen and (max-width: 550px) {
    nav ul {
        width: 100%;
        padding: 0;
    }
    .players {
        margin-top: 0;
    }
    .content {
        width: 100%;
    }
    .q-left-col,
    .q-right-col {
        width: 100%;
        margin: 0 auto;
    }
}
/* END media queries */
